__pycache__/

!py/actions/

py/virtualenv/
code/wsk-actions/py/virtualenv/
py/cache/
*.zip
lookbusy-1.4/
code/split/figs/
*.pyc
!reqs.txt
*.err

debug*.csv

paper.aux
paper.log
paper.out
venv/
code/sim/prof/
code/sim/run_logs/
code/traces/test
run-scripts/logs/
load/testlocust/
load/transaction/
load/vary_users/
load/compare/
load/compare-2.0/
load/compare-1.5/
load/vary-ceil/
load/30min-compare/
load/vary-ceil-30min/
load/*.log
analysis/bursty/
analysis/compare/

analysis/**/*png